*{
    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;

    text-transform: capitalize;

    text-decoration: none;
}


header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-weight: bolder;
    font-size: 25px;
    color: #333;
}

header .navbar ul{
    list-style: none;
}
header .navbar ul li{
    position: relative;
    float: left;
}
header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
}

header .navbar ul li a:hover{     
    background: #333;
    color: #ffffff;
    
}

#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

@media(max-width:991px){

    header{
        padding: 20px;
    }
    
    header label{
        display: initial;
    }

    header .navbar{
        position:absolute;
        top: 100%; left: 0;    right: 0;
        background: #ffffff;
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }

    header .navbar ul li{
        width: 100%;
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
    }
}

.wapper {
    margin-top: 120px;
    width: 300px;
    background-color: var(--primary--color);
    padding: 10px 30px 30px;
    border-radius: 10px;
  }

.wapper input {
    padding-left: 10px;
    margin-bottom: 10px;
    height: 45px;
    width: 100%;
    border: 1px solid #0093ab;
    outline: none;
    border-radius: 10px;
  }

.wapper .btn {
    padding: 8px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: var(--bg--color);
    transition: all 0.2s linear;
  }

.btn:hover {
    transform: scale(1.1);
  }

.wapper input:focus {
    border: 1px solid var(--bg--color);
  }

.wapper input::placeholder {
    color: black;
  }

.wapper .signup-link {
    display: block;
    transform: translateX(120px);
    margin-bottom: 20px;
    color: var(--bg--color);
  }






footer{
    width: 100%;
    background: #35858B;
    text-align: center;
}
footer .footer-item{
    width: 30%;
    display: inline-block;
    margin-bottom: 30px;
}

footer .footer-item h3{
    margin: 30px 0;
}

footer .link a{
    display:block;
    text-decoration: none;
    color: black;
    margin: 3px 0;
}

footer .link a:hover{
    color: orange;
}

.ket{
    background: #35858B;
    color: black;
    text-align: center;
    padding: 10px;
}
.ket p{
    padding: 10px;
}